* {
  font-family: 'Noto Serif';
  color: black;
}

html, body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('../images/old-map.jpg')
}

nav,
.grid-container,
.expense-message,
.expense-text-container,
.booking-form-container {
  background-color: rgba(154, 196, 200, 0.932);
  
}

nav,
.login-container,
.trip-container,
#h1,
.trip-expense-text,
.expense-text-container,
.past-pending-upcoming-h2,
.booking-form-container {
  border: 2px solid rgb(57, 55, 55);
}




body {
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('../images/old-map.jpg');
}

main {
  margin-top: 8vh;
  background-image: url('../images/old-map.jpg');
  /* background-color: rgb(210, 238, 247); */
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  /* background-color: rgba(154, 196, 200, 0.932); */
  /* border: 2px solid rgb(117, 114, 114); */
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2vh 0 2vh 0;
}

.date-container {
  display: flex;
  margin: 1vh 0 .5vh 13vw;
  width: fit-content;
  border: 1px solid rgb(14, 13, 13);
  font-size: 2vh;
}

#dateTime,
.date {
  padding-right: 1vw;
  font-size: 1.2vw;
}

.login-container {
  height: 40vh;
  width: 30vw;
  /* border: 2px solid rgb(117, 114, 114); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgba(154, 196, 200, 0.693);
}

button {
padding: 0 0 0 .25vh;
color: white;
background-color: rgb(50, 50, 51);
}

button:hover {
  background-color: rgb(203, 211, 214);
  transition: 1s;
  color: black;
}

.trip-container {
  margin-top: 6vh;
  background-color: #9d96965e;
  /* border: 2px solid rgb(63, 61, 61); */
  text-align: center;
  width: 15vw;
  margin-bottom: 1vh;
}

.grid-container {
  width: 70vw;
  border: 2px solid rgb(63, 61, 61);
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgba(154, 196, 200, 0.927); */
}


#h1,
.trip-expense-text {
  background-color: rgba(154, 196, 200, 0.61);
  border-radius: .25vw;
  border: 2px solid rgb(63, 61, 61);
  width: fit-content;
  padding: 0 2vw 0 2vw;
  /* border: 2px solid rgb(63, 61, 61); */
  margin-right: auto;
  margin-left: auto;
}

.trip-expense-text {
  height: 5vh;
}

.trips-grid {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(1, 1fr);
  justify-content: space-evenly;
  column-gap: 1vw;
  overflow: visible;
}

.trip-image {
  height: 12vw;
  max-width: 15vw;
  opacity: 1;
  position: absoulute;
}

h2,
.journey-message {
  font-size: 1.5vw;
  height: .5vh;
  padding: 1vh;
}

h2 {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}


h1 {
  font-size: 2vw;
  margin-top: -2vw;
}

.no-trips-in-grid,
h2,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-container {
  height: fit-content;
}

.expense-message {
  font-size: 1vw;
  border-bottom: 2px solid rgb(63, 61, 61);
  /* background-color: rgba(154, 196, 200, 0.764); */
  margin: 5vh;
}

.expense-text-container,
.expense-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1vw;
  width: 60vw;
  margin-right: auto;
  margin-left: auto;
}

.expense-text-container {
  border-radius: .25vw;
  /* border: 2px solid rgb(63, 61, 61); */
  height: 10vh;
  /* background-color: rgba(154, 196, 200, 0.771); */
}

.total-spent-text {
  margin: .25vw;
}

.expense-table {
  height: 60vh;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  padding-bottom: 2vw;
}

th {
  background-color: rgba(152, 155, 155, 0.892);
  padding: 4vh;
}

td,
.trip-estimate-text {
  padding: 3vh;
}

th,
td {
  border: 1px solid rgb(24, 24, 24);
}

tr:nth-child(even) {
  background: rgba(154, 196, 200, 0.856);
}

.past-pending-upcoming-h2 {
  /* border: 2px solid rgb(3, 3, 3); */
  margin-left: 15vw;
  height: 3.5vh;
  background-color: rgb(0, 0, 0);
  width: 12vw;
  padding: 0 1vw 0 1vw;
  margin-bottom: -3vw;
}

tr:nth-child(odd) {
  background: rgba(152, 155, 155, 0.892);
}

tr:hover {
  background: rgba(207, 213, 214, 0.892)
}

.booking-form-container {
height: 70vh;
display: flex;
/* background-color: rgba(154, 196, 200, 0.743); */
width: 50vw;
/* border: 2px solid rgb(8, 8, 8); */
margin-right: auto;
margin-left: auto;
}


.booking-form,
.post-response-message {
  height: 67vh;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  margin: 2.5vh;
  width: 11vw;
  margin-right: auto;
  margin-left: auto;
}

#destinationInput {
  width: 12vw;
  margin-top: 1vh;
  height: 4vh;
}

label {
 display: flex;
 justify-content: center;
}

.red-text {
  color: red;
}

.missing-info {
  border: 3px dashed red;
}

.submit-request-button,
.price-estimate-button {
  height: 5vh;
  width: 15vw;
  margin-top: 2vh;
}

.agent-fee-text {
  font-size: 2vh;
  margin-top: -1vh;
}

.hidden {
  display: none !important;
}

