* {
  font-family: 'Noto Serif';
  color: black;
}

html,
body,
main {
  background-image: url('../images/old-map.jpg')
}

html, body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  margin-top: 8vh;
}

section {
  height: 100%;
}

nav {
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2vh 0 2vh 0;
}

.date-container {
  display: flex;
  margin: 1vh 0 .5vh 13vw;
  width: fit-content;
  border: 1px solid rgb(14, 13, 13);
  font-size: 2vh;
}

#dateTime,
.date {
  padding-right: 1vw;
  font-size: 1.2vw;
}

.login-container {
  height: 40vh;
  width: 30vw;
  flex-direction: column;
  text-align: center;
  background-color: rgba(154, 196, 200, 0.693);
}

button {
  padding: 0 0 0 .25vh;
  color: white;
  background-color: rgb(50, 50, 51);
}

button:hover {
  background-color: rgb(203, 211, 214);
  transition: 1s;
  color: black;
}

.trip-container {
  margin-top: 6vh;
  background-color: #9d96965e;
  text-align: center;
  width: 15vw;
  margin-bottom: 1vh;
}

.grid-container {
  width: 70vw;
  overflow: auto;
}


#h1,
.trip-expense-text {
  background-color: rgba(154, 196, 200, 0.61);
  border-radius: .25vw;
  width: fit-content;
  padding: 0 2vw 0 2vw;
}

.trip-expense-text {
  height: 5vh;
}

.trips-grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(1, 1fr);
  justify-content: space-evenly;
  column-gap: 1vw;
  overflow: visible;
}

.trip-image {
  height: 12vw;
  max-width: 15vw;
}

h2,
.journey-message {
  font-size: 1.5vw;
  height: .5vh;
  padding: 1vh;
}

h2 {
  width: fit-content;
}


h1 {
  font-size: 2vw;
  margin-top: -2vw;
}


.expense-container {
  height: fit-content;
}

.expense-message {
  font-size: 1vw;
  border-bottom: 2px solid rgb(63, 61, 61);
  margin: 5vh;
}

.expense-text-container,
.expense-message {
  margin-top: -1vw;
  width: 60vw;
}

.expense-text-container {
  border-radius: .25vw;
  height: 10vh;
}

.total-spent-text {
  margin: .25vw;
}

.expense-table {
  height: 60vh;
  border-collapse: collapse;
  padding-bottom: 2vw;
}

th {
  background-color: rgba(152, 155, 155, 0.892);
  padding: 4vh;
}

td,
.trip-estimate-text {
  padding: 3vh;
}

th,
td {
  border: 1px solid rgb(24, 24, 24);
}

tr:nth-child(even) {
  background: rgba(154, 196, 200, 0.856);
}

.past-pending-upcoming-h2 {
  margin-left: 15vw;
  height: 3.5vh;
  background-color: rgb(0, 0, 0);
  width: 12vw;
  padding: 0 1vw 0 1vw;
  margin-bottom: -3vw;
}

tr:nth-child(odd) {
  background: rgba(152, 155, 155, 0.892);
}

tr:hover {
  background: rgba(207, 213, 214, 0.892)
}

.booking-form-container {
  height: 70vh;
  display: flex;
  width: 50vw;
}

.booking-form,
.post-response-message {
  height: 67vh;
  width: 50vw;
  flex-direction: column;
}

input {
  display: block;
  margin: 2.5vh;
  width: 11vw;
}

#destinationInput {
  width: 12vw;
  margin-top: 1vh;
  height: 4vh;
}

.red-text {
  color: red;
}

.missing-info {
  border: 3px dashed red;
}

.submit-request-button,
.price-estimate-button {
  height: 5vh;
  width: 15vw;
  margin-top: 2vh;
}

.agent-fee-text {
  font-size: 2vh;
  margin-top: -1vh;
}

.blue-background {
  background-color: rgba(154, 196, 200, 0.932);
}

.border {
  border: 2px solid rgb(57, 55, 55);
}

.auto-margins,
h2,
input {
  margin-right: auto;
  margin-left: auto;
}

h2,
h1,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label,
.expense-table {
  display: flex;
  justify-content: center;
}

section,
nav,
html,
body {
  width: 100%;
}

/* Agent */

.search-for-user-container {
  display: flex;
  flex-direction: column;
}

.agent-stats-text-container,
.search-for-user-container {
  width: 30vw;
  height: 25vh;
}

.agent-stats {
  width: 80vw;
  margin-bottom: 5vh;
}

.hidden {
  display: none !important;
}

.search-button {
 width: 10vw;
}

